<div class="container w-100">

<div class="row w-100 mt-5">
<div class="col-md-12">
    <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog</h1>
</div>
</div>

<div class="row w-100 mt-4 mb-4">
    <div class="col-md-12 mt-4 mb-4">
        <p class="text-justify text-monospace">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti expedita 
            suscipit perspiciatis assumenda autem, nulla numquam minima esse. 
            Quam itaque at debitis incidunt, alias esse nam culpa ad error minima?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ea odit neque!
            Nihil debitis perferendis aliquid qui quibusdam similique vel ratione? 
            Iure, quasi sint quo neque alias commodi sequi eaque?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto omnis architecto error
            dolor molestiae sequi vero exercitationem tempora mollitia numquam magni labore maxime,
            rerum, consectetur voluptates minima dolorem quis recusandaeaed!
        </p>
    </div>
</div>

</div>
<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weigth-bold">Ver o feed</button>
    </div>
</div>