
<div class="card border-0" style="width: 18rem;">
    <div class = "d-flex justify-content-center">
        <img class="card-img-top " src="https://imgur.com/5hGV8Bc.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body bg-cor">
      <h5 class="card-title text-center text-monospace text-white font-weight-bold">{{nome}}</h5>
      <p class="card-text text-center text-monospace text-white font-italic">
        Estudante fullstack na Generation Brasil.
      </p>

      <a href="https://www.linkedin.com/in/gustavo-mathielo-198247129/" target ="_blank" class= "btn btn-outline-info mb-3 d-flex justify-content-center">Linkedin</a>

      <a href="https://github.com/gustavomathielo" target = "_blank" class= "btn  btn-outline-light d-flex justify-content-center">Github</a>
      
    </div>  
</div>
