.parallax{
    background-image: url("https://imgur.com/3l8BGHZ.jpg");
    
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color:rgb(255, 255, 255);
}