<body>
    <div class="row">
        <div class="col-md-12">
                <div class="container w-100">
                    <div class="row w-100 mt-5">
                        <div class="col-md-12">
                            <h1 class ="text-monospace text-center text-dark"> Sejam bem vindos ao meu blog</h1>
                        </div>
                    </div>
                
                    <div class="row w-100">
                            <div class="col-md-12 text-justify text-center text-dark">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, laudantium. Quis, unde veritatis accusantium, impedit saepe ipsam ipsum quaerat iste fugiat quae dolorem dignissimos magni! Officiis doloribus atque sapiente laboriosam.
                
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque sapiente placeat recusandae, dicta iusto facere veritatis nihil delectus eligendi beatae voluptatum quos tenetur sequi, numquam eum tempora modi temporibus. A?
                
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quam eligendi maiores sequi eius mollitia illo odit aperiam maxime eum! Repudiandae, beatae iure assumenda a fugit fugiat quod minus similique?
                                </p>
                            </div>
                    </div>
                </div>
                
                 <div class ="parallax"></div>
            
                <div class="row w-100 mt-5 mb-5">
                    <div class="col-md-12 w-100 d-flex justify-content-center">
                        <button class= "btn btn-outline-danger text-uppercase font-weight-bold" routerLink='/feed' >Ver o feed</button>
                    </div>
                </div>
        </div>
    </div>   
</body>


